# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @davidteren will be requested for review when someone 
# opens a pull request.
*       @davidteren

# Code files require thorough review
/code_grasp/    @davidteren

# Documentation changes
*.md    @davidteren
